li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div {
  font-size: 14px;
}
h1 {
  font-size: 20px;
}
.gt-dt {
  border-bottom: 1px solid #000;
}
.read-flex {
  border: 1px solid #000;
}
.btn-updte {
  padding: 5px;
  background: green;
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}
.cmpnt-flex{
  display: flex;
}
.cnt-flx{
  width: 80%;
}
.form-crt{
  display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    padding: 20px;
    border-radius: 3px 113px 113px 3px;
}
div.span{
  margin-bottom: 10px;
}
.btn-delete {
  padding: 5px;
  background: rgb(128, 0, 0);
  color: #fff;
  text-decoration: none;
}
div.container form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
}
.container {
  background: #c280ba;
  width: 100%;
}
input {
  padding: 10px;
  margin-bottom: 20px;
}
textarea {
  margin-bottom: 20px;
}
.main {
  min-height: 100vh;
  position: relative;
}

body {
  /* background-color: #4158d0; */
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  /* background-repeat: no-repeat; */
}
.box {
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
  padding: 3%;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  border-radius: 8px;
  box-shadow: 2px 2px 41px -1px rgba(77, 40, 40, 0.75);
  -webkit-box-shadow: 2px 2px 41px -1px rgba(77, 40, 40, 0.75);
  -moz-box-shadow: 2px 2px 41px -1px rgba(77, 40, 40, 0.75);
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #ff6e7f 0%,
    #bfe9ff 51%,
    #ff6e7f 100%
  );
}
.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  transition: 0.4s;
  background-size: 200% auto;
  color: rgb(52, 44, 73);
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  border: none;
  font-weight: 600;
  margin: 0 auto;
  font-size: 12px;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  transition: 0.8s ease;
  cursor: pointer;
}
.link {
  margin-right: 20px;
  text-decoration: none;
  color: #1904e5;
  font-weight: 600;
}
.link:last-child {
  margin-right: 0;
}
.card {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  width: 50%;
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.card:nth-child(2) {
  margin-right: 0;
}
.card:nth-child(4) {
  margin-right: 0;
}
.card:nth-child(6) {
  margin-right: 0;
}
.cardcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
}

.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  position: absolute;
  width: 100%;
  top: 420px;
}

.button-55 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 20px;
  font-size: 14px;
  margin-top: 50px;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}
.scroll-view {
  max-height: 250px;
  overflow-y: scroll;
}
.scroll-view::-webkit-scrollbar {
  display: none;
}
.btn-container {
  display: flex;
  justify-content: space-between;
}
